.view-trip-page {
  margin: 20;
  background-color: var(--my-beige);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.view-trip-page .header {
  font-size: 45px;
  margin-bottom: 20px;
  color: var(--dark-blue);
  font-weight: bold;
}

.view-trip-page .button-container {
  margin: 20px;
}

.view-trip-page .button-container .button {
  background-color: var(--pastel-green);
  color: var(--dark-green);
}
